/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
/* General */
body{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* Slide */
.slide{
    position: absolute;
    top: 0;
    float: left;
    width: 100%;
    z-index: -1;
}
.slider-elements{
    padding: 10px 12%;
    text-align: center;
}
.slider-elements .form-control{
    opacity: .6;
    height: 40px;
    border-radius: 0;
}
.header-search{
    margin: 0 10%;
}
.header-button{
    border: none;
    height: 40px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 30%;
    background: transparent;
    background-image: url('../img/loope.png');
    background-repeat: no-repeat;
}
/* social icons*/
.social-icons{
    margin: 10px 0;
}
.slider-wrapper .social-icons .fa-circle{
    color: green;
}
.slider-wrapper .social-icons a:hover i{
    color: #c7254e;
}
.slider-wrapper .social-icons .fa-twitter:hover,
.slider-wrapper .social-icons .fa-instagram:hover,
.slider-wrapper .social-icons .fa-facebook-official:hover
{
    color: #fff;
}
.slider-wrapper .social-icons .fa-instagram{
    color: yellow;
}
.slider-wrapper .social-icons .fa-inverse{
    color: orange;
}
.slider-wrapper .social-icons .fa-facebook-official{
    color: pink;
}
.fa-square-o{
    color: yellow;
    font-size: 50px;
}
.fa-paper-plane-o{
    font-size: 20px;
    color: red;
    background: blue;
}
.header-logo{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* Menu */
.carousel-control{
    /*    visibility: hidden;*/
    display: none;
}
.slider-wrapper{
    float: left;
    width: 100%;
    height: 550px;
}
.slider-wrapper li a{
    color: #252424;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px;
    background: #c2c2c2;
    border: 1px solid #848484;
    margin-right: 15px;
    border-radius: 4px;
}
.slider-wrapper .dropdown-menu.moja-klasa{
    background-color: transparent;
    border:none;
    -webkit-box-shadow: 0 0 0; 
    box-shadow: 0 0 0;
}
.menu-main{
    margin-left: 15%;
}
/* Owl */
.partners, .partners-inner, #partners-id {
    float: left;
    width:100%;
}
.partners-inner { /* ovo vidi*/
    border-top: 1px solid #d8d8d8;
    background: #d8d8d8;
    margin-top:50px;
    text-align: center;
}
.partners-inner a h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    color: #3a3a3a;
}
#owl-demo .item{/* ovo vidi */
    margin: 3px;
}
#owl-demo .item img{ /* ovo vidi */
    display: block;
    width: 100%;
    height: auto;
}
.owl-prev {
    background-image: url(../img/left-arrow.png);
    background-repeat: no-repeat;
    background-position: left;/* ovo je bitno bez se ne vidi strelica*/
    /*    color:#CACACA; ovo je boja strelice*/
    width:40px;/*dimenzije strelice */
    height:40px;
    left:-16px;/* pozicija strelice*/
    float:left;
    top:38%;
    position: absolute;
}
.owl-next {
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    width:40px;
    height:40px;
    right:-30px;
    float:right;
    top:38%;
    position: absolute;
    z-index:999;
}
/* footer */
footer{
    border-top: 1px solid #cccccc;
    float: left;
    width: 100%;
    height: 50px;
}
.footer-left,.footer-right{
    font-family: 'Lato', sans-serif;
    color: #000;
}
footer.footer-home{
    /* nema razmak zato sot je klasa u nivou sa footer tagom*/
}
.footer-first.footer-home{
    /* pozivam dve klase u istom nivou 
    ovaj slucaj kod velikih sajtova koji ima puno klasa
    */
}
footer .container p{
    padding: 20px;
    /* mogu i ovako da uradim isto kao sa .footer-left,.footer-right
    ali pod uslovom da tako ne pogodim jos neke elemente na sajtu posle
    */
}
footer .container p:first-child{
    float: left;
    width: 50%;
}
footer .container p:last-child{
    float: right;
    width: 50%;
    text-align: right;
}
.footer-right a{
    color: red;
}
.footer-right span{
    color: green;
}
.footer-left i{
    font-style: normal;
    font-weight: bold;
}
