@media(max-width:1440px){
    .header-button{
        position: absolute;
        /*        left: 30% !important;*/
    }
}
@media(max-width:1300px){
    .slider-wrapper{
        height: 440px;
    }
    .social-icons{
        margin: 20px 0;
    }
    .slider-wrapper .carousel-indicators{
        top: 140px;
        text-align: right;
        height: 50px;
        left: 60%;
    }
    .slider-wrapper li a{
        font-size: 16px;
        padding: 10px;
    }
    .collapse.navbar-collapse{
        padding: 0 60px;
    }
    .header-logo{
        width: 20%;
    }
    .fa-stack{
        margin-right: 10px;
    }
}
@media(max-width:800px){
    .navbar-default {
        /*        display: none;*/ /* kada se ovo ukljuci padajuci menu na dugme menu je nevidljiv kada se zakomentarise onda je vidljiv ali uz ovaj code dole kako bi se promenio brack point*/
    }
    /* change the breakpoint navbar */
    /* ------------------ */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        background-color: #000;
        display: block;
        margin-bottom: 8px;
        width: 100px;
        height: 100px;
        margin: 10px;
        left: 20px;
        position: absolute;
    }
    .navbar-collapse {
        border-radius: 6px;
        border-top: 1px solid transparent;
/*        box-shadow: inset 0 1px 0 rgba(0,0,0,0);*/
        background-color: transparent;
        opacity: .9;
        width: 300px;
        float: right;
        margin-top: 20px;
    }
    .navbar-fixed-top {
        top: 0px;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        /*        margin-top: -50px;*/
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: 300px;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*----------------------------*/
}
@media(max-width:640px){
    .partners-inner{
        margin-top: 0;
    }
    .slider-wrapper{
        height: auto;
    }
    .slider-elements{
        padding: 0;
    }
    .header-search{
        margin: 0 0;
        width: 40%;
    }
    .slider-elements .form-control{
        margin: 4px;
        margin-left: 10px;
        height: 30px;
        width: 200px;
        background: #252424;
        opacity: .4;
    }
    .header-button{
        left: 4%;
        top: 10px;
    }
    .social-icons{
        position: absolute;
        top: 10px;
        right: 2%;
        width: 30%;
        margin: 0;
    }
    .fa-stack{
        margin-right: 0;
    }
    .fa-stack .fa{
        font-size: 30px;
        background: none;
    }
    .slider-wrapper .social-icons .fa-inverse{
        font-size: 18px;
        margin-top: -2px;
    }
    .fa.fa-paper-plane-o.fa-stack-1x{
        font-size: 18px;
        margin-top: -2px;
    }
    .partners-inner{
        height: 40px;
    }
    .partners-inner a h1{
        font-size: 18px;
    }
    .slider-wrapper .carousel-indicators{
        display: none;
    }
    footer .container{
        padding: 6px;
    }
    footer .container p:first-child, footer .container p:last-child{
        float: left;
        width: 100%;
        text-align: left;
        padding: 2px;
        margin: 0;
    }
}
@media(max-width:390px){
    .social-icons{
        position: relative;
        float: left;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    .navbar-toggle{
        position: absolute;
        top: 20px;
        right:0;
    }

}

